body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}
.search-box {
  height: 50%;
  margin-top: 50px;
  margin-left: 80px;
  background-color: rgb(193, 172, 207);
  width: 32.60%;
  border-radius: 8px;
  color:white;
  padding: 5px;
}
button{
  background-image: linear-gradient(rgb(224, 235, 69) , rgb(202, 144, 96));
  padding: 5px;
  border-radius: 8px;
  border: 1px solid white;
  margin-left: 20px;
  color:white
}

.orange-color {
  color: orange;
}
h1 {
  font-size: 43px;
  color: rgb(91, 83, 92);
}
.fexiable-container {
  display: flex;
}

.link {
  text-decoration: none;
  background-image: linear-gradient(rgb(233, 138, 29), rgb(230, 95, 54));
  padding: 15px;
  border-radius: 20px;
  color: white;
}
.half-width {
  width: 50%;
  padding: 50px;
  margin: 15px;
}
.half-width img {
  width: 83%;
  margin-bottom: 20px;
}

.back-img {
  background-image: url(images/7.png);
  background-repeat: no-repeat;
  margin-top: 40px;
  padding: 2px;
  margin: 0;
}
.recipies {
  text-align: center;
  margin: 10%;
}
.img-width {
  width: 40%;
  padding: 30px;
  margin: 40px;
  box-shadow: 10px 10px 8px 10px rgb(177, 171, 171);
  border-radius: 25px;
  text-align: center;
}
.img-width img {
  width: 80%;
}
.footer {
  background-color: rgb(22, 21, 21);
  height: 200px;
  text-align: center;
  padding-top: 20px;
  color: gainsboro;
  margin-top: 70px;
}
